# See https://github.com/github/gitignore/tree/master/Global

# osx
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# ruby
.rbenv-version
.rvmrc

# ctags
tags
TAGS
